@media (max-width: 1440px) {
  .info__div {
    flex-direction: column;
  }

  .info__div-article {
    margin: 0;
    margin-bottom: 32px;
    max-width: 100%;
  }

  .info__couple {
    max-width: 100%;
  }

  .footer__container-last {
    display: none;
  }

  .couple__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .stages-main__div {
    margin-right: 10px;
  }

  .main-list__item:not(:last-child) {
    margin-right: 10px;
  }

  .footer__container-form {
    margin-right: 40px;
  }
}
/* 1024 */
@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }

  .header {
    padding: 26px 0;
  }

  .logo__img {
    max-width: 150px;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__nav {
    margin-right: 0;
  }

  .nav__list {
    gap: 60px;
  }

  .main-info {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .main__container {
    padding: 160px 77px;
  }

  .main__container-title {
    font-size: 60px;
    margin-bottom: 14px;
  }

  .main__container-dscr {
    font-size: 20px;
    margin-bottom: 56px;
  }

  .info {
    padding-top: 20px;
    padding-bottom: 39px;
  }

  .info__container-dscr {
    margin-bottom: 60px;
  }

  .info__div-article {
    min-height: 640px;
  }

  .down__btn {
    width: 175px;
    height: 60px;
  }

  .couple__article {
    padding: 65px 155px 65px 317px;
    background-position: 78px 63px;
  }

  .stages {
    padding-top: 39px;
    padding-bottom: 41px;
  }

  .stages-main__div {
    margin-right: 50px;
    max-width: 437px;
  }

  .stages__container-div::after {
    max-width: 437px;
    max-height: 689px;
    background-position: center center;
  }

  .stages-text__dscr {
    margin-bottom: 25px;
    letter-spacing: 0;
  }

  .questions {
    padding-top: 41px;
    padding-bottom: 77px;
  }

  .questions__main-list {
    flex-direction: column;
    gap: 31px;
  }

  .main-list__item:not(:last-child) {
    margin: 0;
  }

  .main-list__item {
    max-width: 100%;
    min-height: 233px;
    padding: 65px 65px 65px 60px;
  }

  .footer__container-div {
    margin-right: 132px;
    max-width: 251px;
    width: 100%;
  }

  .footer__container-last {
    display: none;
  }

  .footer-main__logo {
    max-width: 224px;
  }

  .footer-link__social:not(:last-child) {
    margin-right: 21px;
  }

  .footer__container-form {
    margin: 0;
  }

  .bottom__btn {
    padding: 20px 37px;
  }
}
/* 768 */
@media (max-width: 920px) {
  .header {
    padding: 17px 0;
  }

  .logo__img {
    max-width: 110px;
  }

  .nav__list {
    gap: 40px;
  }

  .nav__link {
    font-size: 16px;
    font-weight: 700;
  }

  .main__container {
    padding: 160px 40px;
  }

  .main__container-title {
    font-size: 50px;
  }

  .main__container-dscr {
    font-size: 18px;
  }

  .couple__article {
    padding: 38px 48px 35px 170px;
    justify-content: flex-start;
    min-height: 235px;
    background-size: 114px 99px;
    background-position: 40px 68px;
  }

  .info__div-down {
    padding: 34px 40px;
  }

  .down__dscr {
    margin-right: 47px;
  }

  .stages__container-div {
    flex-direction: column;
  }

  .stages__container-div::after {
    content: none;
  }

  .stages__container-div::before {
    content: "";
    min-height: 284px;
    width: 100%;
    margin-bottom: 38px;
    border-radius: 25px;
    background-image: url("../img/stages-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .stages-main__div {
    margin: 0;
    max-width: 100%;
  }

  .stages-text__dscr {
    margin-bottom: 25px;
  }

  .main-list__item {
    padding: 35px 65px 35px 40px;
    min-height: 200px;
  }

  .footer__container-form {
    margin: 0;
    margin-bottom: 50px;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__container-div {
    order: 2;
  }

  .footer-main__logo {
    max-width: 224px;
    height: 72px;
  }

  .footer-main__list {
    display: none;
  }
}

@media (max-width: 720px) {
  .container {
    padding: 0 15px;
  }

  .nav__list {
    gap: 24px;
  }
}
/* 320 */
@media (max-width: 590px) {
  .header {
    padding-bottom: 36px;
  }

  .header__nav {
    order: 3;
    width: 100%;
    padding-top: 22px;
    overflow-x: scroll;
  }

  .nav__list {
    flex-wrap: nowrap;
  }

  .main-info {
    padding-top: 19px;
    padding-bottom: 30px;
  }

  .main__container {
    display: flex;
    flex-direction: column;
    min-height: 308px;
    padding: 60px 22px;
    align-items: center;
    border-radius: 18px;
  }

  .main__container-title {
    font-size: 20px;
    text-align: center;
    max-width: 247px;
    margin-bottom: 6px;
  }

  .main__container-dscr {
    font-size: 12px;
    text-align: center;
    max-width: 247px;
    margin-bottom: 32px;
  }

  .main__container-btn {
    padding: 13px 28px;
    font-size: 12px;
  }

  .title-h2 {
    font-size: 24px;
  }

  .info {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .info__container-title {
    transform: translateX(-4px);
  }

  .info__container-dscr {
    font-size: 14px;
    line-height: 200%;
    margin-bottom: 14px;
  }

  .info__div-article {
    flex-direction: column;
    background: none;
    min-height: fit-content;
    border-radius: 0;
    margin-bottom: 27px;
  }

  .info__div-article::before {
    content: "";
    width: 100%;
    min-height: 200px;
    margin-bottom: 8px;
    background-image: url("../img/info-article-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
  }

  .info__div-down {
    flex-direction: column;
    background-color: inherit;
    padding: 0;
    align-items: flex-start;
    border-radius: 0;
    justify-content: flex-start;
  }

  .down__dscr {
    color: #000;
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
    max-width: 100%;
    line-height: 200%;
    font-size: 14px;
  }

  .down__btn {
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #f90;
    padding: 9px 44px;
    border-radius: 8px;
    width: 161px;
    height: 40px;
  }

  .couple__article {
    flex-direction: column;
    padding: 0;
    background: none;
    outline: none;
    min-height: fit-content;
  }

  .couple__article--1::before {
    content: "";
    width: 64px;
    height: 56px;
    margin-bottom: 6px;
    background-image: url("../img/info-article-2.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .couple__article--2::before {
    content: "";
    width: 64px;
    height: 56px;
    margin-bottom: 8px;
    background-image: url("../img/info-article-3.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .couple__article-title {
    font-weight: 500;
    font-size: 18px;
    transform: translateX(-3px);
    margin-bottom: 2px;
    letter-spacing: 0.1px;
  }

  .couple__article-dscr {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
  }

  .stages {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .stages__container-title {
    margin-bottom: 20px;
  }

  .stages__container-div::before {
    min-height: 160px;
    margin-bottom: 16px;
  }

  .stages-text__h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 6px;
  }

  .stages-text__dscr {
    font-size: 14px;
    line-height: 200%;
    font-weight: 400;
    letter-spacing: 0.1px;
  }

  .stages-text__buttons {
    justify-content: space-around;
  }

  .stages-btn__btn {
    padding: 13px 44px;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 12px;
  }

  .stages-btn__btn--2 {
    padding: 12px 32px;
    margin: 0;
  }

  .questions {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .questions__main-title {
    margin-bottom: 19px;
  }

  .questions__main-list {
    gap: 30px;
  }

  .main-list__item {
    border: none;
    padding: 0;
    min-height: 0;
  }

  .main-list__title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 6px;
  }

  .main-list__dscr {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.7px;
  }

  .footer {
    padding: 30px 0;
  }

  .footer-form__form {
    align-items: center;
  }

  .footer-form__title {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 19px;
  }

  .form__input {
    height: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 229%;
    padding: 14px 0 14px 20px;
  }

  .form__comment {
    height: 150px;
    margin-bottom: 25px;
  }

  .form__bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .bottom__btn {
    margin: 0;
    margin-bottom: 11px;
    border-radius: 8px;
    width: fit-content;
    font-size: 12px;
    padding: 13px 19px;
  }

  .footer__container-div {
    margin: 0;
    align-items: center;
    max-width: 290px;
    width: 100%;
  }

  .footer-main__logo {
    max-width: 131px;
    height: 42px;
    margin-bottom: 15px;
  }

  .footer__container-form {
    margin-bottom: 16px;
    border-bottom: 1px solid #414141;
    padding-bottom: 25px;
  }

  .footer-link__social svg {
    width: 40px;
    height: 40px;
  }

  .footer-link__social:not(:last-child) {
    margin-right: 16px;
  }
}
