html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* global */
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 75px;
  margin: 0 auto;
}

/* header */
.header {
  padding: 14px 0;
  background-color: #fff;
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 85px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 85px;
  flex-wrap: wrap;
}

.nav__link {
  position: relative;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 7px;
  color: #000;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #f90;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: 2px solid #f90;
  outline-offset: 5px;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link:active {
  color: #e1670e;
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
  background-color: #e1670e;
}

.header__btn {
  border: none;
  transition: outline 0.3s ease-in-out;
}

.header__btn:focus {
  outline: 2px solid #f90;
  outline-offset: 5px;
}

.header__btn:active {
  outline: none;
}

.header__btn .header__search rect {
  stroke: #000;
  transition: stroke 0.3s ease-in-out;
}

.header__btn .header__search path {
  stroke: #000;
  transition: stroke 0.3s ease-in-out;
}

.header__btn:hover .header__search rect {
  stroke: #ff9900;
}

.header__btn:hover .header__search path {
  stroke: #ff9900;
}

.header__btn:active .header__search rect {
  stroke: #000;
}

.header__btn:active .header__search path {
  stroke: #000;
}

/* main-info */
.main-info {
  padding-top: 50px;
  padding-bottom: 25px;
}

.main__container {
  min-height: 620px;
  padding: 100px 80px;
  background-image: url("../img/main-info-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.main__container-title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 837px;
  color: #fff;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.main__container-dscr {
  margin: 0;
  margin-bottom: 90px;
  max-width: 790px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__container-btn {
  text-align: center;
  padding: 25px 39px;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  background-color: #f90;
  border-radius: 16px;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.main__container-btn:focus {
  background-color: #ffb84d;
}

.main__container-btn:hover {
  background-color: #ffb84d;
}

.main__container-btn:active {
  background-color: #e1670e;
}

/* info */
.info {
  padding-bottom: 50px;
  padding-top: 25px;
}

.info-container {
  min-height: 945px;
}

.title-h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.info__container-dscr {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1235px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #000;
}

.info__div {
  display: flex;
  justify-content: space-between;
}

.info__div-article {
  display: flex;
  align-items: flex-end;
  max-width: 868px;
  width: 100%;
  min-height: 622px;
  margin-right: 10px;
  background-image: url("../img/info-article-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
  overflow: hidden;
}

.info__div-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 196px;
  width: 100%;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  overflow: hidden;
}

.info__couple {
  max-width: 870px;
  width: 100%;
}

.down__dscr {
  margin: 0;
  max-width: 433px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  color: #fff;
}

.down__btn {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 19px 38px;
  border: 3px solid #f90;
  border-radius: 16px;
  color: #fff;
  outline: none;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.down__btn:focus {
  background-color: #f90;
}

.down__btn:hover {
  background-color: #f90;
}

.down__btn:active {
  background-color: #e1670e;
  border-color: #e1670e;
}

.couple__article {
  min-height: 295px;
  padding: 65px 120px 65px 300px;
  outline: 1px solid #cacaca;
  border-radius: 25px;
  background-position: 60px 65px;
  background-repeat: no-repeat;
}

.couple__article:not(:last-child) {
  margin-bottom: 32px;
}

.couple__article--1 {
  background-image: url("../img/info-article-2.svg");
}

.couple__article--2 {
  background-image: url("../img/info-article-3.svg");
}

.couple__article-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
  letter-spacing: -0.5px;
}

.couple__article-dscr {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: #000;
}

/* stages */
.stages {
  padding-top: 50px;
  padding-bottom: 50px;
}

.stages__container-div {
  display: flex;
  justify-content: space-between;
}

.stages__container-div::after {
  content: "";
  max-width: 870px;
  min-height: 460px;
  width: 100%;
  border-radius: 25px;
  background-image: url("../img/stages-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transform: translateY(10px);
}

.stages__container-title {
  margin-bottom: 29px;
}

.stages-main__div {
  max-width: 758px;
  width: 100%;
}

.stages-text__h3 {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #000;
}

.stages-text__dscr {
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.6px;
  color: #000;
}

.stages-text__buttons {
  display: flex;
}

.stages-btn__btn {
  margin-right: 32px;
  padding: 19px 38px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  background-color: #f90;
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out;
}

.stages-btn__btn:focus {
  background-color: #ffb84d;
}

.stages-btn__btn:hover {
  background-color: #ffb84d;
}

.stages-btn__btn:active {
  background-color: #e1670e;
}

.stages-btn__btn--2 {
  padding: 19px 38px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  border-radius: 16px;
  border: 1px solid #000;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.stages-btn__btn--2:focus {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.stages-btn__btn--2:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.stages-btn__btn--2:active {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

/* questions */
.questions {
  padding-top: 50px;
  padding-bottom: 100px;
}

.questions__main {
  min-height: 383px;
}

.questions__main-title {
  margin-bottom: 32px;
}

.questions__main-list {
  display: flex;
  justify-content: space-between;
}

.main-list__item {
  max-width: 569px;
  min-height: 292px;
  padding: 65px;
  border: 1px solid #cacaca;
  border-radius: 32px;
}

.main-list__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}

.main-list__dscr {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #000;
}

/* footer */
.footer {
  padding: 50px 0;
  background-color: #000;
  margin: 0 auto;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__container-div {
  display: flex;
  flex-direction: column;
  margin-right: 135px;
}

.footer-main__logo {
  margin-bottom: 20px;
}

.footer-main__list {
  margin-bottom: 90px;
}

.footer-list__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  color: #cacaca;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.footer-list__link:focus {
  outline: 2px solid #f90;
  outline-offset: 5px;
}

.footer-list__link:hover {
  color: #f90;
}

.footer-list__link:active {
  color: #e1670e;
}

.footer-main__link {
  display: flex;
}

.footer-link__social {
  display: flex;
  outline: none;
}

.footer-link__social:not(:last-child) {
  margin-right: 25px;
}

.footer-link__social svg {
  fill: #666;
  transition: fill 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.footer-link__social:focus svg {
  outline: 2px solid #f90;
  outline-offset: 5px;
}

.footer-link__social:hover svg {
  fill: #f90;
}

.footer-link__social:active svg {
  fill: #e1670e;
}

.footer-form__form {
  display: flex;
  flex-direction: column;
}

.footer__container-form {
  max-width: 570px;
  width: 100%;
  margin-right: 15px;
}

.footer-form__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #cacaca;
}

.form__input {
  margin-bottom: 25px;
  background-color: #414141;
  border-radius: 15px;
  max-width: 570px;
  width: 100%;
  min-height: 60px;
  padding: 14px 0 14px 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border: 0;
  color: #cacaca;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.form__input:focus {
  background-color: #666;
}

.form__input:hover {
  background-color: #666;
}

.form__input:active {
  background-color: #666;
}

.form__input::placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #cacaca;
}

.form__comment {
  margin: 0;
  margin-bottom: 32px;
  max-width: 570px;
  width: 100%;
  min-height: 150px;
  resize: none;
  padding: 14px 0 0 24px;
}

.form__bottom {
  display: flex;
  align-items: center;
}

.bottom__btn {
  margin-right: 22px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  padding: 19px 49px;
  background-color: #f90;
  border-radius: 16px;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.bottom__btn:focus {
  background-color: #ffb84d;
}

.bottom__btn:hover {
  background-color: #ffb84d;
}

.bottom__btn:active {
  background-color: #e1670e;
}

.bottom__checkbox--1 {
  user-select: none;
  cursor: pointer;
}

.bottom__checkbox--2 {
  appearance: none;
  position: absolute;
}

.bottom__checkbox--2:checked + .bottom__checkbox-span::after {
  opacity: 1;
}

.bottom__checkbox--2:focus + .bottom__checkbox-span {
  outline: 1px solid #f90;
  outline-offset: 5px;
}

.bottom__checkbox-span {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #cacaca;
}

.bottom__checkbox-span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
}

.bottom__checkbox-span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image: url(../img/checkbox.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer__container-last {
  max-width: 363px;
  display: flex;
  align-items: center;
}

.footer-last__dscr {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #cacaca;
}
